
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>

        footer {
            text-align: center;
        }

        .dropbtn {
            /*padding: 14px;*/
            font-size: 16px;
            border: none;
            color: white;
        }


        .dropdown {
            position: relative;
            display: inline-block;
            margin-top: 14px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #DCDCDC;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #DCDCDC;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font: bold;
            font-family: 'Montserrat, sans-serif';
            font-size: 17px;
            padding-bottom: 14px;
            margin-top: 0px;
        }

        a.activeMenuItem {
            background-color: #423B88;
            font-weight: bold;
            color: #DCDCDC;
        }

        table {
            /*font-family: arial, sans-serif;*/
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .header {
            margin-top: 0px;
        }
        .glyphicon.glyphicon-menu-hamburger {
            font-size: 36pt;
            color: #423B88;
        }
        .mm-menu > .mm-panel.mm-opened {
            
            margin-top: 33px;
        }
        span.glyphicon.glyphicon-search {
            margin-top: 16px;
            font-size: large;
        }
        li.searchbar {
            margin-right: 11px;
        }
        #result {
            position: absolute;
            width: 100%;
            max-width: 870px;
            cursor: pointer;
            overflow-y: auto;
            max-height: 400px;
            box-sizing: border-box;
            z-index: 1001;
        }

        .link-class:hover {
            background-color: #f1f1f1;
        }
    </style>
    <script src="~/Scripts/jquery.mmenu.min.js"></script>
    <link href="~/Content/jquery.mmenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
       
       
        $.ajax({
            type: "GET",
            url: "/Home/GetSubmittedForms",
            success: function (result) {

                $.template('newData2', ' <tr><td>${title} </td> <td>${submittedtime}</td></tr>');
                $.tmpl('newData2', result).appendTo('#SetUsersList');
            }
        })
        $(".dropdown-content").hide();
        $(".dropbtn").hover(function () {
            $(".dropdown-content").toggle();
        });
        $(document).ready(function () {
            $("#my-menu").mmenu({

            });

            $("a").each(function () {
                if ((window.location.pathname.indexOf($(this).attr('href'))) > -1) {
                    $(this).addClass('activeMenuItem');
                }
            });
            $.ajaxSetup({ cache: false });
            $('#search').keyup(function () {
               
                $('#result').html('');
                $('#state').val('');
                var searchField = $('#search').val();
                var expression = new RegExp(searchField, "i");
                
                $.getJSON('http://www.feedbackmaster.com/Json/json.json', function (data) {
                    
                    $.each(data, function (key, value) {
                        if (value.title.search(expression) != -1 || value.pagecontent.search(expression) != -1) {
                            $('#result').append('<li class="list-group-item link-class">  <a href="' + value.pageUrl + '"><span class="text-muted">' + value.title + '</span></a></li>');
                        }
                    });
                });
            });
           
            $('#result').on('click', 'li', function () {
                var click_text = $(this).text().split('|');
                $('#search').val($.trim(click_text[0]));
                $("#result").html('');
            });
        });
    </script>

</head>

<body id="myPage">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
    
        <div class="container">

            <div class="navbar-header">

                <a href="#my-menu"><span class="glyphicon glyphicon-menu-hamburger" style="float:left"></span></a>
                <a href="~/Home/Index"><img src="~/Image/comment-section.png" height="50" style="float:left" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FeedBack System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })

            </div>


          
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("user"))
                    {

                        <li>
                         
                            <div class="dropdown">
                                <button class="dropbtn">
                                    SubmittedForms
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">

                                    <table id="tbldata">

                                        <thead>
                                            <tr>
                                                <th>Form</th>
                                                <th>submittedTime</th>
                                            </tr>


                                        </thead>

                                        <tbody id="SetUsersList"></tbody>

                                    </table>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-left:0px;
    }
</style>